{% load static %}
<h5 class="mt-2 mb-3 page-title">
    Controls
</h5>
<!-- Door Lock Controls -->
<div class="card p-3 system-card rounded-5 mb-4">

        <span class="card-title d-flex align-items-center mb-3"><i class='bx bxs-check-shield bx-controls bx-blue' ></i>&nbsp; System Controls</span>

        <!-- Door Lock Authentication -->
        <div class="card system-controls p-3 rounded-4">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col-8 d-flex align-items-center ">
                    <div class="row row-cols-1">
                        <div class="col">
                            <span class="controls">System Authentication</span>
                        </div>
                        <div class="col">
                            <span class="status">System:</span> <span id="system-status"> {{system_status }} </span>                        
                        </div>
                    </div>
                </div>
                <div class="col-4 text-end bttn-col">
                    <button type="button" class="btn btn-primary" id="bttn-system-control">{{ system_control }}</button>
                </div>
                <script type="text/javascript">
                    //Update System Control and System Status
                    function fetchdata(){
                            $.ajax({
                            url: "{% url 'get_current_status' %}",
                            type: 'GET',
                            success: function(data){
                                let bttnSystemControl = document.querySelector("#bttn-system-control");
                                bttnSystemControl.innerHTML = data.system_control;

                                let bttnSystemStatus = document.querySelector("#system-status"); 
                                bttnSystemStatus.innerHTML = data.system_status;
                            }
                            });
                        }
                    //Bttn Click
                    $('#bttn-system-control').click(function(){
                    $.ajax({
                        type:"GET",
                        url: "{% url 'update_system_status' %}",
                        success: function(data) 
                        {
                            let bttnSystemControl = document.querySelector("#bttn-system-control");
                            bttnSystemControl.innerHTML = data.system_control;

                            let bttnSystemStatus = document.querySelector("#system-status"); 
                            bttnSystemStatus.innerHTML = data.system_status;

                        }
                    });
                    });

                    //Update when the system status is changed in the firebase when 3 unsuccessfull attempts happen
                    $(document).ready(function(){
                        setInterval(fetchdata, 2000);
                    });
                </script>

            </div>
        </div>



        <!-- Manual Open  -->
        <div class="card system-controls p-3 mt-4 rounded-4">
            <div class="row row-cols-2 ">
                <div class="col-8 d-flex align-items-center">
                    <div class="row row-cols-1">
                        <div class="col">
                            <span class="controls">Manual Door Control</span>
                        </div>
                        <div class="col">
                            <span class="status">Door Status:</span> <span id="door_status"> {{door_status }} </span>                        
                        </div>
                    </div>
                </div>
                <div class="col-4 text-end bttn-col">
                    <button type="button" class="btn btn-primary" id="bttn-manual-ctrl">{{ manual_ctrl }}</button>
                    <script type="text/javascript">
                            //Button Click
                            $('#bttn-manual-ctrl').click(function(){
                                $.ajax(
                                {
                                    type:"GET",
                                    url: "{% url 'manual_control' %}",
                                    success: function(data) 
                                    {
                                        let bttnManualControl = document.querySelector("#bttn-manual-ctrl");
                                        bttnManualControl.innerHTML = data.manual_ctrl;

                                        let bttnDoorStatus = document.querySelector("#door_status"); 
                                        bttnDoorStatus.innerHTML = data.door_status;
                                    }
                                });
                            });
                    </script>
                </div>
            </div>
        </div>
</div>

<div id="reg-mssg-div"></div>
<!-- Door Knock Controls -->
<div class="card p-3 system-card rounded-5 mb-4">

    <span class="card-title d-flex align-items-center mb-3"><i class='bx bxs-plus-circle bx-controls bx-reg-green'></i>&nbsp; Door Knock Controls</span>

    <!-- Door Knock Register  -->
    <div class="card registration-controls p-3 rounded-4">
        <div class="row row-cols-2 ">
            <div class="col-8 d-flex align-items-center">
                <div class="row row-cols-1">
                    <span class="controls">Door Knock Registraion</span> 
                </div>
            </div>
            <div class="col-4 text-end bttn-col">
                <button type="button" class="btn btn-primary " id="registerbttn" style="background-color: #6ed8bd !important; border-color: #3aad90 ;">Register</button>
                <script>
                    $('#registerbttn').click(function(){
                        console.log("Hello world!");
                        $.ajax({
                            type:"GET",
                            url: "{% url 'register_knock' %}",
                            success: function(data) 
                            {
                                let mssg_div = document.querySelector("#reg-mssg-div");
                                mssg_div.innerHTML = '<div class="alert alert-success" role="alert">' + data.mssg + '</div>';
                                $(".alert").delay(3000).slideUp(200, function() {
                                    $(this).alert('close');
                                });
                            },
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>



<div id="mssg-div"></div>

<!-- Password Set -->
<div class="card door_ctrl_card p-0 p-3 rounded-5">
    <span class="card-title d-flex align-items-center mb-3"><i class='bx bxs-door-open bx-controls bx-violet' ></i></i>&nbsp; Door Lock Passcode</span>
    
    {% for pass in passwords %}
        {% for key, value in pass.items %}
        <!-- Password Control -->
        <div class="card p-2 password-row rounded-4 ">
            <div class="row row-cols-2 g-2 w-100">
                <div class="col-8 d-flex align-items-center">
                    <button type="button" class="btn btn-primary p-1 d-flex align-items-center"><i class='bx bxs-lock-alt bx-passcode'></i></span></button>&nbsp;<span id="passcode-order-txt">{{ key }} Passcode</span>                 
                </div>
                <div class="col-4  text-end d-flex justify-content-end bttn-col pass-controls">
                    <button type="button" class="btn btn-green p-0 rounded-circle" data-bs-toggle="modal" href="#{{ key }}Modal" role="button"><i class='bx bxs-edit-alt bx-passcode p-1' ></i></button>
                    <button id="{{ key }}Button" type="button" class="ms-1 btn btn-danger p-0 rounded-circle"><i class='bx bxs-eraser bx-passcode p-1'></i></button>               
                </div>
            </div>
        </div>

        <!--Password Modal-->
        <div class="modal fade" id="{{ key }}Modal" aria-hidden="true" aria-labelledby="#{{ key }}ModalLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <img class="img-fluid" src="{%static 'd2vs1/images/logo.png'%}" id="logo">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form id="{{ key }}-setpass">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-floating">
                            {% if value == 0 %}
                                <input name="password" autocomplete="off" type="number" class="form-control" id="{{ key }}-passcode" placeholder="{{ key }} Passcode" pattern="[0-9]*" required>
                            {% else %}
                                <input name="password" autocomplete="off" type="number" class="form-control" id="{{ key }}-passcode" placeholder="{{ key }} Passcode" pattern="[0-9]*" value="{{ value }}" required>
                            {% endif %}                           
                            <label for="{{ key }}-passcode">Set {{ key }} Passcode</label>
                            <input id="{{ key }}_order" name="pass_order" autocomplete="off" type="hidden" value="{{ key }}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary rounded-1 btn-blue" >Save Password</button>
                    </div>
                </form>
                <script>
                    $('#{{ key }}Button').on('click', function(e){
                        e.preventDefault();
                        $.ajax({
                            method:'GET',
                            url:"{% url 'del_password' key %}",
                            success: function(data){
                                let password = document.querySelector("#"+ data.key + "-passcode");
                                password.value = data.password;

                                let error_div = document.querySelector("#mssg-div");
                                error_div.innerHTML = '<div class="alert alert-primary" role="alert">' + data.key +' Passcode Cleared</div>';
                                $(".alert").delay(3000).slideUp(200, function() {
                                    $(this).alert('close');
                                });
                            },
                        });              
                    });

                    $('#{{ key }}-setpass').on('submit', function(e){
                        e.preventDefault();
                        $.ajax({
                            method:'POST',
                            url:"{% url 'set_password' %}",
                            data:{
                                password:$('#{{ key }}-passcode').val(),
                                pass_number:$('#{{ key }}_order').val(),
                                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                        }, 
                        success: function(data) {
                            let password = document.querySelector("#"+ data.order + "-passcode");
                            password.value = data.password;
                            $("#" + data.order + "Modal").modal('hide');

                            let error_div = document.querySelector("#mssg-div");
                            error_div.innerHTML = '<div class="alert alert-success" role="alert">' + data.order +' Passcode Saved</div>';
                            $(".alert").delay(3000).slideUp(200, function() {
                                $(this).alert('close');
                            });
                        },
                        });              
                    });
                </script> 
            </div>
            </div>
        </div>
        <!--End Login Modal-->
        {% endfor %}
    {% endfor %}
</div>
<br>
